<h1>Welcome to your blog!</h1>
<p>Here, you can create ,read,update and delete your article.Have fun and enjoy!!</p>
<%= link_to 'My Blog', controller: 'articles' %>

<style type="text/css">

h1 {

	color: blue;
}

p {
	color: #C00000;
}

</style>